{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tracks Statisctics{% endblock %}</h1>

{% endblock %}

{% block content %}
  {% for tracks in posts %}
    <article class="post">
      <header>
        <div>
          <div class="about">{{ tracks['summary'] }} Total amount seconds of all tracks in track list </div>
          <div class="about">{{ tracks['middle'] }} Average number of seconds of all tracks in track list </div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}